:root {
  --CardsBorderColor: #671dde, #ab5fff, #9636ff;
  --CardsBorderOpacity: 0.8;
  --CardsOpacity: 1;
  --CardsBorderRadius: 10px;
}

* {
  font-family: sans-serif;
}
.blocks__wrap {
  display: flex;
  gap: 20px;
  margin-top: 200px;
}
.block__item {
  padding: 2px;
  background-color: bisque;
  position: relative;
  display: flex;
}
.block__title {
  font-size: 25px;
}
.block__text {
  font-size: 18px;
}

.blocks__wrap:hover > .block__item::after {
  opacity: 1;
}

.block__item:hover::before {
  opacity: 1;
}

.block__item::before,
.block__item::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.block__item::before {
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y),
    var(--CardsBorderColor),
    transparent 40%
  );
  z-index: 3;
}

.block__item::after {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    var(--CardsBorderColor),
    transparent 40%
  );
  z-index: 1;
}
.content {
  position: relative;
  z-index: 5;
  background-color: bisque;
}
